{% extends 'home/public/base.html' %}

{% block 'css' %}
	<link rel="stylesheet" type="text/css" href="/static/home/public/css/cart.css">
	<link rel="stylesheet" type="text/css" href="/static/home/public/css/cart-app.css">

{% endblock %}

{% block 'zhi_fu' %}
<div class="navbar-left">
    <ol class="breadcrumb">
        <li class="active">购物车</li>
        <li>确认订单</li>
        <li>在线支付</li>
        <li>完成 </li>
    </ol>
</div>
{% endblock %}


{% block 'content' %}
<div class="mainbody cart" style="margin-top: 83px">
    <div class="container">
        <!-- 购物车详情头 -->
        <table class="cart-header">
            <tbody>
                <tr>
                    <td class="cart-col-select col-md-3 col-xs-3 col-sm-3">
                        <div class="cart-select-all JSelectAll">
                            <div class="mz-checkbox"></div>
                            <span class="cart-select-title">全选</span>
                        </div>
                    </td>
                    <td class="cart-col-name col-md-3 hidden-xs hidden-sm">商品</td>
                    <td class="cart-col-price col-md-2 hidden-xs hidden-sm">单价(元)</td>
                    <td class="cart-col-number col-md-2 hidden-xs hidden-sm">数量</td>
                    <td class="cart-col-total col-md-1 hidden-xs hidden-sm">小计(元)</td>
                    <td class="cart-col-ctrl col-md-1 hidden-xs hidden-sm">操作</td>
                </tr>
            </tbody>
        </table>
        <!-- 购物车详情头 E-->

        <!-- 购物清单信息列表 -->
        <div class="cart-merchant-list">
            <div class="cart-merchant">
                <table class="cart-merchant-body">
                    <tbody>
                        {# 商品 一 #}
                        {% for i in  goods_data%}
                        <tr class="cart-product" >
                            {# 商品图片 #}
                            <td class="cart-col-select col-md-3 col-xs-4 col-sm-4">
                                <div class="mz-checkbox "></div>
                                <a href="{% url 'home_detail' i.id %}" class="cart-product-link" target="_blank">
                                    <img src="{{ i.pic }}" class="cart-product-img" alt="魅蓝 X">
                                </a>
                            </td>
                            {# 商品介绍 #}
                            <td class="cart-col-name col-md-3 col-xs-8 col-sm-8">
                                <a href="{% url 'home_detail' i.id %}" class="cart-product-link" target="_blank">
{#                                  <p></p> #}
                                  <span class="cart-product-desc">{{ i.title }}</span>
                                </a>
                                <p class="">
                                    <span class="cart-product-price">{{ i.price }}</span>
                                </p>
                            </td>
                            {# 商品单价 #}
                            <td class="cart-col-price col-md-2 hidden-xs hidden-sm">
                                <p><span class="cart-product-price">{{ i.price }}</span></p>
                            </td>
                            {# 商品数量 #}
                            <td class="cart-col-number col-md-2 hidden-xs hidden-sm">
                                <div class="cart-product-number-adder">
                                    <p class="cart-product-number-max show"></p>
                                    <div class="mz-adder">
                                        <button class="mz-adder-subtract disabled"></button>
                                        <div class="mz-adder-num">
                                            <input class="mz-adder-input" value="2" type="text">
                                            <div>{{ i.gn }}</div>
                                        </div>
                                        <button class="mz-adder-add"></button>
                                    </div>
                                </div>
                            </td>
                            {# 商品小计#}
                            <td class="cart-col-total col-md-1 hidden-xs hidden-sm">
                                <span class="cart-product-price total">1499.00</span>
                            </td>
                            {# 商品操作#}
                            <td class="cart-col-ctrl col-md-1 hidden-xs hidden-sm">
                                <div class="cart-product-remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- 购物清单信息列表 E-->
    </div>

		<!-- 结算详情 -->
		<div class="cart-footer" id="cartFooter">
			<div class="container">
			   <div class="cart-footer-left col-md-6 col-xs-4 col-sm-4">
				   <div class="cart-select-all JSelectAll" data-mdesc="全选按钮" data-mtype="store_cart_all">
						<div class="mz-checkbox"></div>
						<span class="cart-select-title">全选</span>
				   </div>
				   <!-- <span class="cart-remove-selected" id="removeSelected">删除选中的商品</span> -->
				   <span class="cart-footer-count">
						共
						<span class="cart-footer-num" id="totalCount">5</span>
						件商品
				   </span>
				</div>
				<div class="cart-footer-right col-md-5 col-md-offset-1 col-sm-offset-2 col-xs-8 col-sm-6">
					<span class="cart-footer-sum">
						<span class="cart-footer-text">已优惠</span>
						<span class="cart-footer-num red" id="totalDiscount">0.00</span>
						<span class="cart-footer-text">元， 合计(不含运费)：</span>
						<span class="cart-footer-total" id="totalPrice">6446.00</span>
					</span>
					<div class="mz-btn success" id="cartSubmit">去结算</div>
				</div>
			</div>
		</div><!-- 结算详情 E-->
	</div>
{% endblock %}


{% block 'js' %}
<!-- 返回顶部 E-->
<script type="text/javascript">
        //商品数量加减
        cartAddMin();
</script>
{% endblock %}




















