{% extends 'home/public/base.html' %}

{% block 'css' %}
	<link rel="stylesheet" type="text/css" href="/static/home/public/css/cart.css">
	<link rel="stylesheet" type="text/css" href="/static/home/public/css/cart-app.css">
{% endblock %}


{% block 'zhi_fu' %}
<div class="navbar-left">
    <ol class="breadcrumb">
        <li class="active">购物车</li>
        <li>确认订单</li>
        <li>在线支付</li>
        <li>完成 </li>
    </ol>
</div>
{% endblock %}



{% block 'content' %}
<div class="mainbody cart" style="margin-top: 83px">
    <div class="container">
        <!-- 购物车详情头 -->
        <table class="cart-header">
            <tbody>
                <tr>
                    <td class="cart-col-select col-md-3 col-xs-3 col-sm-3">
                        <div class="cart-select-all JSelectAll">
                            <div class="mz-checkbox"></div>
                            <span class="cart-select-title">全选</span>
                        </div>
                    </td>
                    <td class="cart-col-name col-md-2 hidden-xs hidden-sm">商品</td>
                    <td class="cart-col-price col-md-2 hidden-xs hidden-sm">单价(元)</td>
                    <td class="cart-col-number col-md-2 hidden-xs hidden-sm">数量</td>
                    <td class="cart-col-total col-md-2 hidden-xs hidden-sm">小计(元)</td>
                    <td class="cart-col-ctrl col-md-1 hidden-xs hidden-sm">操作</td>
                </tr>
            </tbody>
        </table>
        <!-- 购物车详情头 E-->

        <!-- 购物清单信息列表 -->
        <div class="cart-merchant-list">
            <div class="cart-merchant">
                <table class="cart-merchant-body">

                    <tbody>
                        {% for v in cart.values %}
                        <tr class="cart-product" id="pro1">
                            <td class="cart-col-select col-md-3 col-xs-4 col-sm-4">
                                <div class="mz-checkbox " gid="{{ v.id }}"></div>
                                <a href="{% url 'home_detail' v.id %}" class="cart-product-link" target="_blank">
                                    <img src="{{ v.pic }}" class="cart-product-img" alt="{{ v.title }}">
                                </a>
                            </td>
                            <td class="cart-col-name col-md-2 col-xs-8 col-sm-8">
                                <a href="{% url 'home_detail' v.id %}" class="cart-product-link" target="_blank">
                                  <p>{{ v.title }}</p>
                                  <span class="cart-product-desc">{{ v.title }}</span>
                                </a>
                                <p>
                                    <span class="cart-product-price">{{ v.price }}</span>
                                </p>
{#                                <div class="cart-col-number">#}
{#                                    <div class="cart-product-number-adder">#}
{#                                        <p class="cart-product-number-max show"></p>#}
{#                                        <div class="mz-adder">#}
{#                                            <button class="mz-adder-subtract disabled"></button>#}
{#                                            <div class="mz-adder-num">#}
{#                                                <input class="mz-adder-input" value="{{ v.num }}" type="text">#}
{#                                            </div>#}
{#                                            <button class="mz-adder-add"></button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </td>
                            {# 商品单价 #}
                            <td class="cart-col-price col-md-2 hidden-xs hidden-sm">
                                <p>
                                    <span class="cart-product-price">{{ v.price }}</span>
                                </p>
                            </td>
                            <td class="cart-col-number col-md-2 hidden-xs hidden-sm">
                                <div class="cart-product-number-adder">
                                    <p class="cart-product-number-max show"></p>
                                    <div class="mz-adder">
                                        <button class="mz-adder-subtract"></button>
                                        <div class="mz-adder-num">
                                            <input gid="{{ v.id }}" class="mz-adder-input" value="{{ v.num }}" type="text">
                                        </div>
                                        <button class="mz-adder-add"></button>
                                    </div>
                                </div>
                            </td>
                            {% load number_com %}
                            <td class="cart-col-total col-md-2 hidden-xs hidden-sm">
                                <span class="cart-product-price total">
                                    {{ v.price|num_com:v.num }}
                                </span>
                            </td>
                            <td class="cart-col-ctrl col-md-1  hidden-xs hidden-sm">
                                <div class="cart-product-remove">
                                    <span del_id="{{ v.id }}" class="glyphicon glyphicon-remove"></span>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 购物清单信息列表 E-->
    </div>
    <!-- 结算详情 -->
    <div class="cart-footer" id="cartFooter">
        <div class="container">
           <div class="cart-footer-left col-md-6 col-xs-4 col-sm-4">
               <div class="cart-select-all JSelectAll" data-mdesc="全选按钮" data-mtype="store_cart_all">
                    <div class="mz-checkbox"></div>
                    <span class="cart-select-title">全选</span>
               </div>
               <!-- <span class="cart-remove-selected" id="removeSelected">删除选中的商品</span> -->
               <span class="cart-footer-count">
                    共
                    <span class="cart-footer-num" id="totalCount">0</span>
                    件商品
               </span>
            </div>
            <div class="cart-footer-right col-md-5 col-md-offset-1 col-sm-offset-2 col-xs-8 col-sm-6">
                <span class="cart-footer-sum">
                    <span class="cart-footer-text">已优惠</span>
                    <span class="cart-footer-num red" id="totalDiscount">0.00</span>
                    <span class="cart-footer-text">元， 合计(不含运费)：</span>
                    <span class="cart-footer-total" id="totalPrice">0.00</span>
                </span>
                <div class="mz-btn success" id="cartSubmit" onclick="goods_list()">去结算</div>
            </div>
        </div>
    </div><!-- 结算详情 E-->
</div>
{% endblock %}


{% block 'js' %}
<!-- 返回顶部 E-->
<script type="text/javascript">
    //商品数量加减
    cartAddMin();
    allSelect();
    total_number(); // 计算总价
    goods_number(); // 计算商品总数

    // 用于处理 商品当前的数量
    $('.mz-adder button').click(function () {
        n = $(this).parent().find('input').val(); // 最新商品数量
        g = $(this).parent().find('input').attr('gid'); // 商品的 id
        if(n<=0){return;};
        $.get('{% url "cart_update" %}', {num:n,gid:g},function(data){
            total_number(); // 计算当前的总价
            goods_number(); // 计算商品数量
        });
    });

    // 用于处理 用户删除商品
    $('.glyphicon-remove').click(function(){
        n = $(this).attr('del_id');
        {#console.log(n);#}
        $.get('{% url "cart_del" %}', {del_id:n},function(data){
            console.log(data);
            total_number(); // 计算当前的总价
            goods_number(); // 计算商品数量
        });

    });

    // 用户计算 商品的 总价格
    function total_number(){
        var total_num = 0;
        $('.total').each(
            function(i, n){
                total_num += parseFloat(n.innerText)
            });
        $("#totalPrice").html(total_num+'.00')
    };
    
    // 计算商品数量
    function goods_number() {
        var goods_number_total = 0;
        $('.mz-adder input').each(function(i,n) {
            goods_number_total +=  parseInt(n.value)
        });
        $('#totalCount').html(goods_number_total)
    };

    // 提交用户选中的商品的id
    function goods_list() {
        var goods_attr = []
        $('.cart-product .checked').each(function(i,n){
            {# console.log($(this).attr('gid')) // this 在这里是被循环的 n , #}
            {# console.log($(n).attr('gid')) // 也可以使用 $(n) 的方式选择 每次循环的值, 效果与 $(this) 相同 #}
            var goods_id = $(n).attr('gid');
            if(goods_id){
                goods_attr[goods_attr.length] = goods_id
            }
        });
        if (goods_attr.length >0){
            $.ajax({ // 触发 ajax 提交订单
                url:'{% url 'home_orderadd' %}',
                type:'post',
                data:{
                    goods_id_list: goods_attr.join(','),
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                },
                success:function(data){
                    location.href='{% url 'home_orderadd' %}';
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    alert('订单提交失败, 请重新提交');
                    console.log(XMLHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            })
        }else {
            alert('请选择商品');
        }
    }

    

</script>
{% endblock %}


{#{% block 'js' %}#}
{#<!-- 返回顶部 E-->#}
{#<script type="text/javascript">#}
{#    //商品数量加减#}
{#    cartAddMin();#}
{##}
{#    $('.mz-adder button').click(function () {#}
{#        n = $(this).parent().find('input').val(); // 最新商品数量#}
{#        g = $(this).parent().find('input').attr('gid'); // 商品的 id#}
{#        if(n<=0){#}
{#            return;#}
{#        }#}
{#        $.get('{% url "cart_update" %}', {num:n,gid:g});#}
{#    })#}
{##}
{#</script>#}
{#{% endblock %}#}





